.banner {
  background-size: cover;
  background-position: center;
  padding: 110px 0;
}

.banner h1 {
  color: white;
  font-size: 45px;
  text-shadow: 0 0 5px black;
}

.banner p {
  color: white;
  opacity: .8;
  font-size: 20px;
  text-shadow: 0 0 5px black;
}

.banner a{
  font-size: 20px;
}


