.footer {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 49, 5, 0.1);
}

.footer a {
  font-size: 30px;
  color:  rgba(255, 49, 5, 0.5);
}

.footer p {
  color: black;
}

.footer a:hover{
  color: rgba(255, 49, 5, 0.8);

}
